/* --------------- Calendar ---------------- */


div.aug-event-slot-large > div.calendar-event-line-inner-container {
    height: 38px;
  }
  
div.aug-event-slot-large > div > div > span.calendar-event-line-text {
    overflow: clip;
    text-overflow: inherit;
    white-space: normal;
    height: 30px;
}

div.aug-event-slot-large > div > div > .calendar-event-line-dot {
    top: 10px;
}

.pagetitle-container.calendar-counter {
  padding-right: 10px;
}

.aug-filter-popup-button {
  margin-right: 10px;
}

.aug-show-user-task-button {
  margin-right: 10px;
} 

/* --------------- End Calendar ------------ */
