/* --------------- Calendar ---------------- */
div.aug-event-slot-large>div.calendar-event-line-inner-container {
  height: 38px;
}

div.aug-event-slot-large>div>div>span.calendar-event-line-text {
  overflow: clip;
  text-overflow: inherit;
  white-space: normal;
  height: 30px;
}

div.aug-event-slot-large>div>div>.calendar-event-line-dot {
  top: 10px;
}

.pagetitle-container.calendar-counter {
  padding-right: 10px;
}

.aug-filter-popup-button {
  margin-right: 10px;
}

.aug-show-user-task-button {
  margin-right: 10px;
}

.ui-btn-round-lft {
  --ui-border-radius: calc(var(--ui-btn-height) / 2);
  border-radius: var(--ui-border-radius) 0 0 var(--ui-border-radius);
}

.ui-btn-round-rgt {
  --ui-border-radius: calc(var(--ui-btn-height) / 2);
  border-radius: 0 var(--ui-border-radius) var(--ui-border-radius) 0;
}

.aug-popup-show {
  display: block !important;
}

.aug-checkbox-container.calendar-list-slider-item {
  padding: 0px;
  /* max-width: 200px; */
}

.aug-option-container {
  height: fit-content;
  margin: 10px;
  padding: 0px;
}

span.aug-option-name.calendar-list-slider-item-name {
  transition: unset;
  max-width: 200px;
}

.calendar-list-slider-item:hover span.aug-option-name.calendar-list-slider-item-name {
  max-width: 200px;
}

.aug-filter-container.calendar-list-slider-card-widget {
  display: flex;
  padding: 0px;
}

input[type="checkbox"] {
  appearance: none;
}

.aug-checkboxes-container.calendar-list-slider-container {
  margin-bottom: 10px;
}

/* --------------- End Calendar ------------ */