.aug-select-field > span {
  width: -webkit-fill-available;
  width: -moz-available;
}

.aug-select-field .aug-dropdown-container,
.aug-select-field input {
  width: inherit;
  z-index: 1200;
}

.aug-select-field a {
  padding: 0 6px 0 3px;
  min-height: 33px;
  font: 14px/33px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #80868e;
  cursor: pointer;
}

.aug-select-field a:hover {
  background: #f3f6f8;
}

.country-container > a {
  font-weight: bold;
}
